---
import Layout from "../layouts/Layout.astro";
---

<Layout />
  <main>
    <h1>Bienvenido a mi portafolio</h1>
    <p>
      Aquí encontrarás información sobre mis proyectos y habilidades.
    </p>
  </main>
</Layout> 
