---
import Image from "astro/components/Image.astro";
import LngButton from "@/components/LngButton.astro";
---

<header
  class="flex justify-between items-center py-3 w-full md:w-[780px] lg:w-[1120px] mx-auto"
>
  <Image
    class="rounded-full w-12 h-12"
    src="https://avatars.githubusercontent.com/u/115562510?s=96&v=4"
    alt="byron logo"
    loading={"eager"}
    width={48}
    height={48}
  />

  <nav class="flex flex-row gap-5">
    <a href="/" class="opacity-60 hover:opacity-100 transition-opacity">Home</a>
    <a href="/projects" class="opacity-60 hover:opacity-100 transition-opacity"
      >Projects</a
    >
  </nav>

  <div>
    <LngButton />
  </div>
</header>
